<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="BrsZfSlothTest">
            <directory>./tests/BrsZfSlothTest</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
            <group>integration</group>
            <group>integration-pgsql</group>
            <group>integration-mysql</group>
            <group>performace</group>
        </exclude>
    </groups>

    <php>
        <!-- Integration Test Variables -->
        <var name="SLOTH_INTEGRATION_HOSTNAME" value="localhost" />
        <var name="SLOTH_INTEGRATION_USERNAME" value="unittest" />
        <var name="SLOTH_INTEGRATION_PASSWORD" value="unittest" />
        <var name="SLOTH_INTEGRATION_DBNAME" value="unittest" />
    </php>
</phpunit>